/* css du player video */

.player {
  width: 800px;
  position: relative;
}

.player__video {
  width: 100%;
}

.player__controls {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  z-index: 99999999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
}

.volume_control {
  transform: rotate(-90deg);
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.volume_symbol {
  display: block;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.active {}

.volume_symbol:hover>.player__slider {}

.player__slider {
  background-color: red;
}

.video-duration-content {
  height: 50px;
  width: 70px;
  color: #fff;
  margin-left: 20px;
}

/*  range style  */

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */

/* puce du slider */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}

input[type=range]::-moz-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}

input[type=range]::-ms-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}

/* track du slider */

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #EF5D60;
}

input[type=range]::-moz-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #EF5D60;
}

input[type=range]::-ms-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #EF5D60;
}

/* end range style  */

.player__button {
  display: block;
  height: 50px;
  width: 50px;
  color: #EF5D60;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.play_btn {
  margin: auto;
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  bottom: calc(50% - 50px);
  border-radius: 50%;
  font-size: 30px;
  border: none;
  color: #fff;
  background-color: #EF5D60;
  transition: all ease 0.2s;
  cursor: pointer;
}

.back_btn {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 34px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.back_btn:hover {
  color: #EF5D60;
}

.fade {
  opacity: 0;
}

.--none {
  display: none !important;
}

.--cursor_none {
  cursor: none;
}

.progress {
  height: 3px;
  width: 80%;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.progress__filled {
  background: #EF5D60;
  height: 100%;
  flex: 0;
  flex-basis: 0%;
  cursor: pointer;
}

::-webkit-media-controls {
  display: none;
}

.player_modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.player {
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}